<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ado.edu.itla.tartaro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".CategoriaActivity" />
        <activity android:name=".RegistroGeneral" />
        <activity android:name=".usuarioTecnico.ListaTareaTECActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".LogInGeneral"/>
        <activity android:name=".usuarioNormal.TareaNormal" />
        <activity android:name=".usuarioNormal.CrearTareaActivity" />
        <activity android:name=".usuarioNormal.ListaTareaUNActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".pruebas.pruebaAppBar"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".usuarioNormal.DetallesTareaUNActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".usuarioTecnico.DetallesTareaTECActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


    </application>

</manifest>